* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #69f0ae;
    font-family: 'IBM Plex Mono', monospace;

}

.container {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 30px;
    background-color: white;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px black;
}

h1 {
    font-size: 54px;
    color: #000051;
}

#btn-add {
    color: white;
    background-color: #000051;
    border-color: none;
    border: 1px solid #000051;
    width: 10%;
    height: 50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.5em;
}

#btn-add:hover {
    cursor: pointer;
    background-color: #2bbd7e;
    border: 1px solid #2bbd7e;
}

.btnDlt {
    color: white;
    background-color: #000051;
    border-color: none;
    border: 1px solid #000051;
    width: 10%;
    height: 50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.5em;
}

.btnDlt:hover {
    cursor: pointer;
    background-color: #d50000;
    border: 1px solid #d50000;
}

#create {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

input {
    height: 50px;
    width: 70%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid gray;
    border-right: none;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.2em;
    color: #000051;
}

p {
    height: 50px;
    width: 70%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    color: #000051;
    background-color: #bdbdbd;
    padding: 10px;
}

ul {
    text-align: center;
    width: 100%;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-top: -10px;
}

@media (max-width: 700px) {
    .container {
        width: 95%;
    }

    input {
        width: 90%;
        font-size: 1em;
    }

    p {
        width: 90%;
        font-size: 1em;
        padding: 15px;
    }

    #btn-add:hover {
        background-color: #000051;
        border: 1px solid #000051;
    }

    .btnDlt:hover {
        cursor: pointer;
        background-color: #000051;
        border: 1px solid #000051;
    }
}